.footer-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: var(--color-base-1);
}

.footer-page footer {
    display: flex;
    width: 100%;
    margin: 25px 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.social-icons {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.content-icons ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.content-icons h3 {
    margin: 10px;
}
.content-icons ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.fa-whatsapp,
.fa-linkedin-in,
.fa-envelope {
    color: #ffffff;
    font-size: 19px;
    padding: 4px;
    border-radius: 5px;
}
.fa-whatsapp {
    background: #37d673;
}
.fa-linkedin-in {
    background: #0a66c2;
}
.fa-envelope {
    background-color: #ff0000;
}


.container-list-footer {
    width: 225px;
    height: 115px;
    padding: 10px;
}
.container-list-footer ul {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    gap: 8px;
}
.container-list-footer ul li {
    font-size: 14px;
}

.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 5px 0px;
    color: var(--color-dark-1);
    background: var(--color-base-1);
    border-top: 1px solid #a8acad7a;
    text-align: center;
}