header,
.header-navbar,
.logo-navbar,
.container-navbar,
.container-navbar-mobile,
.header-navbar ul {
    max-width: 100%;
    display: flex;
    align-items: center;
}
header {
    width: 100%;
    top: 0;
    height: 50px;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    padding: 6px 4.5px;
    background-color: var(--color-white-1);
    box-shadow: var(--box-shadow-2);
    transition: .5s ease-in-out;
    z-index: 999;
}
.logo-navbar {
    width: 120px;
    height: 60px;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
}
.logo-navbar img {
    max-width: 142px;
    max-height: 65px;
    border-radius: 3px;
    margin-left: 33px;
}
.container-navbar,
.container-navbar-mobile {
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container-navbar-mobile {
    transition: 1s ease-in-out;
}
.container-navbar-mobile.inactive {
    display: none;
    transition: 1s ease-in-out;
}



.header-navbar,
.header-navbar ul{
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.header-navbar ul {
    gap: 10px;
    max-width: 650px;
}
.header-navbar ul li {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    height: 45px;
    width: 185px;
    transition: 1s ease-in-out;
}
.menu-links {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.menu-links a,
.menu-links p{
    padding: 5px 10px;
    color: var(--color-dark-1);
    cursor: pointer;
}
.menu-links i {
    font-size: 10px;
    color: var(--color-dark-1);
}
.menu-opcoes-dropdown{
    display: none;
    visibility: visible;
    position: absolute;
    width: 0px;
    /* height: 610px; */
    top: 54px;
    margin: 10px;
    transform: translate(-50%, 1.5%);
    flex-direction: row;
}
.translate-2 {
    transform: translate(-50%, 3.2%) !important;
}



.navbar-area-usuario,
.navbar-area-usuario-mobile {
    width: 30%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    margin: 1px 12px 1px 0px;
    gap: 5px;
}
.navbar-area-usuario-mobile {
    justify-content: space-around;
}
.navbar-area-usuario a,
.navbar-area-usuario-mobile a {
    padding: 3px 6px;
    color: var(--color-base-1);
    background: var(--color-base-3);
    border-radius: 5px;
    margin-left: 10px;
}
.menu-opcoes-dropdown {
    transition: 1s;
}
.header-navbar ul li:hover .menu-opcoes-dropdown {
    display: flex;
    visibility: visible;
    transition: 1s ease-in-out;
    width: 90%;
    left: 50%;
    top: 50%;
    transition: 1s ease-in-out;
    animation: animation_span_navbar 0.5s ease-in-out;
}


@keyframes animation_span_navbar {
    from {
        opacity: 0;
        transition: 1s;
    }
    to {
        opacity: 1;
        transition: 1s;
    }
}
.header-navbar i {
    padding: 5px;
}
.header-navbar ul li:hover i {
    transform: rotate(180deg);
    transition: .2s ease-in-out;
    border-color: transparent;
    color: var(--color-white-1);
    background: var(--color-gradient-2);
    border-radius: 50%;
}
.block-opcoes-menu,
.content-block-opcoes-menu {
    display: flex;
}
.block-opcoes-menu {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-1);
    background: var(--color-base-1);
    border: 1px solid var(--color-dark-1);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.block-opcoes-menu h1 {
    width: 100% !important;
    text-align: center;
}
.content-block-opcoes-menu {
    min-width: 290px;
    height: auto;
    max-width: 100% !important;
    padding: 10px 5px;
    margin-top: 10px;
    gap: 10px;
    background: var(--color-base-1);
    justify-content: center;
    flex-direction: column !important;
    border-radius: 5px;
}
.content-block-opcoes-menu a {
    color: var(--color-dark-0);
    font-weight: 600;
}
.content-block-opcoes-menu a:hover {
    color: var(--color-dark-1);
    text-decoration: underline 1px dashed var(--color-dark-0);
}
.content-block-opcoes-menu hr {
    border: 0px;
    width: 96%;
    margin: 5px;
    border-bottom: 1px solid var(--color-dark-1);
}
.menu-mobile {
    display: none;
}