

.menu-mobile-menu {
    display: none;
}

@media only screen and (max-width: 1145px) {
    .info-texto-banner-1 {
        width: 100% !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .info-texto-banner-1 h3 {
        text-align: center;
        min-width: 273px;
    }
    .link-info-banner-1 {
        justify-content: center;
    }
    .link-info-banner-1 a {
        width: 195px;
        max-width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .menu-mobile {
        display: flex;
    }
    header {
        background: var(--color-base-1);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
        top: 0;
        -webkit-transition: all 0.1s ease-in-out;
    }
    .menu-opcoes-dropdown {
        display: flex;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, -32%);
    }
    .menu-mobile {
        position: absolute;
        top: 27px;
        right: 27px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .container-navbar,
    .navbar-area-usuario {
        display: none;
    }
    .menu-mobile-menu,
    .container-navbar-mobile {
        display: none;
    }
    .menu-mobile-menu.active,
    .container-navbar-mobile.active {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar-area-usuario-mobile.active {
        display: flex !important;
    }
    .menu-mobile-menu.active {
        overflow: hidden;
        transition: 1s ease-in-out;
        animation: grow .6s ease-in-out;
    }

    @keyframes grow {
        0% {
            transition: .3s ease;
            height: 0px;
        }
        55% {
            transition: .5s ease;
            height: 305px;
        }
        60% {
            transition: .3s ease;
            height: 355px;
        }
        100% {
            transition: .3s ease;
            height: auto;
        }
    }


    .info-image-bunner {
        width: 95%;
    }
    
    .info-texto-banner-1 {
        width: 100% !important;
    }
    .bloco-info-dados {
        gap: 5px !important;
    }
    .content-info-dados {
        width: 500px !important;
        max-width: 100% !important;
    }

    .content-icons,
    .container-list-footer,
    .social-icons {
        width: 100%;
    }
    .content-icons {
        margin: 20px 0px;
    }
}
.col-revert {
    flex-direction: row-reverse;
}