

.container-navbar-mobile {
    display: none;
}
.col-revert {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1145px) {
    .info-texto-banner-1 {
        width: 100% !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .info-texto-banner-1 h3 {
        text-align: center;
        min-width: 273px;
        font-size: 25px;
    }
    .link-info-banner-1 {
        justify-content: center;
    }
    .link-info-banner-1 a {
        width: 195px;
        max-width: 100%;
        text-align: center;
    }
    .info-image-bunner {
        text-align: center;
        width: 94%;
    }
    .content-support-text h1 {
        font-size: 25px !important;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .container-navbar {
        display: none;
    }

    .container-navbar-mobile {
        background-color: aqua;
    }

    



    
    


    .info-image-bunner {
        width: 95%;
    }
    
    .info-texto-banner-1 {
        width: 100% !important;
    }
    .bloco-info-dados {
        gap: 5px !important;
    }
    .content-info-dados {
        width: 500px !important;
        max-width: 80% !important;
    }

    .content-icons,
    .container-list-footer,
    .social-icons {
        width: 100%;
    }
    .content-icons {
        margin: 20px 0px;
    }

    .content-support {
        width: 273px;
        height: 252px;
    }
 

}
