{% load static %}

<div class="content-icons">
    <div>
        <div class="block-imagem-perfil">
            <img src="{% static 'imagem perfil 3.jpg' %}" alt="Perfil - Leonardo">
        </div>
    </div>
    <div>
        <h3>Fale Comigo</h3>
        <ul>
            <li>
                <i class="fa-brands fa-linkedin-in"></i>
                <a href="https://www.linkedin.com/in/leonardosantos2019/" target="_blank">Leonardo H Santos</a>
            </li>
            <li>
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/LeonardoHSantos" style="color: #1f2328;" target="_blank">LeonardoHSantos</a>
            </li>
            <li>
                <i class="fa-brands fa-whatsapp"></i>
                <p>+55 (41) 9 88841-2653</p>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <p style="font-size: 14px !important;">leonardo.hsantos@outlook.com</p>
            </li>
        </ul>
    </div>
</div>

<div class="footer-page">
    <footer>
        <div class="social-icons">
            <div class="block_footer_logo">
                <img src="{% static 'logo demanda real.png' %}" alt="">
            </div>
        </div>
        <div class="container-list-footer">
            <h3>Termos e Privacidade</h3>
            <ul>
                <li>temos</li>
                <li>privacidade</li>
                <li>LGPD</li>
            </ul>
        </div>
        <div class="container-list-footer">
            <h3>Serviços</h3>
            <ul>
                <li>apis</li>
                <li>integrações</li>
                <li>sistemas</li>
            </ul>
        </div>
        <div class="container-list-footer">
            <h3>Parcerias</h3>
            <ul>
                <li>seja um parceiro</li>
                <li>como funciona</li>
            </ul>
        </div>
    </footer>
</div>
<div class="footer-copyright">
    <p>2023 © Leonardo H. Santos - Dev Python</p>
</div>