{% load static %}
<div class="footer-page">
    <footer>
        <div class="social-icons">
            <div class="block_footer_logo">
                <img src="{% static 'logo demanda real.png' %}" alt="">
            </div>
            <p>estamos aqui</p>
            <div class="content-icons">
                <ul>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
            </div>
        </div>
        <div class="container-list-footer">
            <h3>Termos e Privacidade</h3>
            <ul>
                <li>temos</li>
                <li>privacidade</li>
                <li>LGPD</li>
            </ul>
        </div>
        <div class="container-list-footer">
            <h3>Serviços</h3>
            <ul>
                <li>apis</li>
                <li>integrações</li>
                <li>sistemas</li>
            </ul>
        </div>
        <div class="container-list-footer">
            <h3>Parcerias</h3>
            <ul>
                <li>seja um parceiro</li>
                <li>como funciona</li>
                <!-- <li>LGPD</li> -->
            </ul>
        </div>
    </footer>
</div>
<div class="footer-copyright">
    <p>© 2023 Demanda Real</p>
</div>