{% load static %}

<header>
    <div class="header-navbar">
        <div class="logo-navbar">
            <a href="{% url 'home' %}">
                <img src="{% static 'rocket-sys-logo-2.png' %}" alt="logo">
            </a>            
        </div>

        <div class="container-navbar">
            <ul>
                <li>
                    <div class="menu-links">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                </li>
                <li>
                    <div class="menu-links">
                        <p>Web</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <span class="menu-opcoes-dropdown translate-2">
                        <div class="block-opcoes-menu">
                            <h1>Desenvolvimento Web</h1>
                            <div class="content-block-opcoes-menu">
                                <h3>Django Framework</h3>
                                <a href="{% url 'info' 'django-painel-administrativo' %}">Painel Administrativo</a>
                                <a href="{% url 'info' 'django-sistema-gestao-estoque' %}">Sistemas de Gestão Vendas</a>
                                <a href="{% url 'info' 'django-sistema-gestao-estoque' %}">Sistemas de Gestão Compras</a>
                                <a href="{% url 'info' 'django-sistema-gestao-estoque' %}">Sistemas de Gestão Estoque</a>
                                <a href="{% url 'info' 'django-sistema-gestao-financeira' %}">Sistemas de Gestão Financeira</a>
                                <a href="{% url 'info' 'django-todos-sistemas' %}">ver mais</a>
                            </div>
                            <div class="content-block-opcoes-menu">
                                <h3>Node.js</h3>
                                <a href="{% url 'info' 'desenvolvimento-api-rest' %}">Sistemas Web com Express</a>
                            </div>
                        </div>
                    </span>
                </li>
                <li>
                    <div class="menu-links">
                        <p>Integrações</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <span class="menu-opcoes-dropdown translate-2">
                        <div class="block-opcoes-menu">
                            <h1>Serviços de Integrações</h1>
                            
                            <div class="content-block-opcoes-menu">
                                <h3>Integrações de Sistemas</h3>
                                <a href="{% url 'info' 'integracao-erp' %}">Integração de sistema ERP</a>
                                <a href="{% url 'info' 'integracao-crm' %}">Integração de sistema CRM</a>
                                <a href="{% url 'info' 'integracao-apps' %}">Integração com Apps</a>
                            </div>
                            <div class="content-block-opcoes-menu">
                                <h3>Desenvolvimento de APIs</h3>
                                <a href="{% url 'info' 'desenvolvimento-api-rest' %}">Desenvolvimento de API -Rest</a>
                                <a href="{% url 'info' 'desenvolvimento-api-restful' %}">Desenvolvimento de API -RestFul</a>
                                <a href="{% url 'info' 'consumo-api' %}">Consumo - API de Terceiros</a>
                            </div>
                        </div>
                    </span>
                </li>

                <li>
                    <div class="menu-links">
                        <p>Analítico</p>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>

                    <span class="menu-opcoes-dropdown">
                        
                        <div class="block-opcoes-menu">
                            <h1>Serviços de Ciência de Dados</h1>
                            
                            <div class="content-block-opcoes-menu">
                                <h3>Ferramentas</h3>
                                <a href="{% url 'info' 'python' %}">Python</a>
                                <a href="{% url 'info' 'excel' %}">Excel</a>
                                <a href="{% url 'info' 'power' %}">Power BI</a>

                                <hr>

                                <h3>Extração de Dados</h3>
                                <a href="{% url 'info' 'extracao-mysql' %}">Fontes MySQL</a>
                                <a href="{% url 'info' 'extracao-consumo-api' %}">Consumo de API</a>
                                <a href="{% url 'info' 'extracao-websocket-webhook' %}">Conexão Websocket e Webhook</a>
                                <a href="{% url 'info' 'extracao-web-scraping' %}">Web Scraping</a>
                                
                                <hr>

                                <h3>Insights</h3>
                                <a href="{% url 'info' 'insights-analise-dados' %}">Análise - Interpretação de Dados</a>
                                <a href="{% url 'info' 'insights-metodos-estatisticos' %}">Métodos - Aplicação de Modelos Estatísticos</a>
                            </div>

                            <div class="content-block-opcoes-menu">

                                <h3>Processamento e Tratamento de Dados</h3>
                                <a href="{% url 'info' 'python-modelos-estatisticos' %}">Python - Modelos Estatísticos</a>
                                <a href="{% url 'info' 'python-numpy-pandas' %}">Python - Numpy e Pandas</a>
                                <a href="{% url 'info' 'python-sklearn' %}">Python - Scikit-learn</a>

                                <hr>

                                <h3>Visualizações de Dados</h3>

                                <h3>Python</h3>
                                <a href="{% url 'info' 'dashboards-python-javascript' %}">Python + JavaScript - Dashboards Web</a>
                                <a href="{% url 'info' 'dashboards-jupyter-matplotlib' %}">Python com Jupyter Notebook - Matplotlib</a>
                                <a href="{% url 'info' 'dashboards-jupyter-seaborn' %}">Python com Jupyter Notebook - Seaborn</a>

                                <h3>Power BI</h3>
                                <a href="{% url 'info' 'power-bi-dashboards-power-bi' %}">Dashboards</a>
                                <a href="{% url 'info' 'power-bi-dashboards-equipes' %}">Controle de Acesso - Equipes</a>

                                <h3>Excel e PowerPoint</h3>
                                <a href="{% url 'info' 'excel-dashboards-relatorios' %}">Dashboards e Relatórios</a>
                            </div>
                        </div>
                    </span>
                </li>

                {% if user.is_authenticated %}
                <li>
                    <div class="menu-links">
                        <a href="{% url 'painel_user' %}">Painel</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>

    <div class="container-navbar-mobile"> 

        <div class="menu-mobile">
            <div class="logo-navbar">
                <a href="{% url 'home' %}">
                    <img src="{% static 'rocket-sys-logo-2.png' %}" alt="logo">
                </a>            
            </div>
            <!-- <i class="fa-solid fa-bars" id="btn-menu-mobile" onclick="showMenuMobile(this)"></i> -->
        </div>      

        
    </div>



    <div class="navbar-area-usuario">
        {% if user.is_authenticated %}
            <p>olá, {{user.username}}</p>
            <a href="{% url 'logout' %}" style="background: red !important;">Sair</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'register_new_user' %}">cadastro</a>
        {% endif %}
    </div>
    
    
</header>